
@{
    ViewData["Title"] = "AboutUs";
}




<div class="page-header  py-5 text-center text-white">
    <div class="theme-bg-shapes-right"></div>
    <div class="theme-bg-shapes-left"></div>
    <div class="container">
        <h1 class="page-heading single-col-max mx-auto">About Us</h1>
        <div class="page-intro single-col-max mx-auto text-light">Get in touch if you have any questions or want us to get across to you</div>

    </div>
</div><!--//page-header-->


<div class="row">
    <div class="col mt-5">
        <h3>
            WE ARE TRUSTED STOCKBROKING COMPANY
        </h3>
        <p>Molten Trust Limited is a financial service company that offers stock broking, Asset Management, Research and Advisory services and other ancillary services within the purview of the capital market.  </p>

        <p>It was incorporated on the 27th of February 1996, licensed by the Nigerian Stock Exchange on Thursday, February 27, 1997 and registered with the Securities and Exchange Commission as a Broker/Dealer. As stockbrokers, the firm deals in all registered securities, especially those quoted on the Nigerian Stock Exchange. Her relationship with her clients and investment advice are based on the following: </p>

        <ul>
            <li>The use of professional expertise to guide her client's investment decisions with a view to achieving their objectives. </li>
            <li>Ensuring that the investing clients secure greater income and return on investment </li>
            <li>Assisting clients to develop high-yielding, blue chip investment portfolio based on full knowledge of available information concerning their investment or potential investment(s)</li>
            <li>Ensuring a balance between the safety of the principal investment and the growth objective of her clients. </li>
            <li>All the clients are advised regularly on the state of their investments </li>
        </ul>


    </div>
</div>

<div class="row mt-5 mb-lg-5">
    <div class="col-lg-6">
        <img class="img-fluid" src="~/Images/investment.jpg" />
    </div>
    <div class="col-lg-6">
        
                <span class="caption d-block mb-2 font-secondary font-weight-bold"></span>
                <h2 class="site-section-heading text-uppercase font-secondary mb-5">Why Choose Us</h2>
                <p>The Company’s investment philosophy is based on a blend of quantitative modeling coupled with fundamental research which is aimed at maximizing returns on investment whilst ensuring the safety and steady growth of our clients’ capital at all times.</p>



                <p>Our Services are always tailored to personally meet the needs and desires of all Clients and to even exceed their expectations.</p>

                <p>
                    With her combined experience in excess of fifty years across the Nigeria financial sector, the Firm boasts of a deep understanding of the local market to help achieve our clients’ goals
                </p>
            </div>
        
</div>
<br />
<br>
<div class="row mt-5 mb-lg-5">

    <div class="col-lg-6">

        <span class="caption d-block mb-2 font-secondary font-weight-bold"></span>
        <ul>
            <li class="font-weight-bold">Strength</li>
            <p>Our Strenght is Trust based on integrity in order to add value to our stakeholders’ wealth</p>

            <li class="font-weight-bold">People </li>
            <p>Our team is a crop of young, dynamic, well-trained and highly motivated workforce with good understanding 
            of the financial industry to deliver world class services to our clients </p>

            <li class="font-weight-bold">Customer Service Orientation </li>
            <p>Our clients are our greatest asset, hence our focus is on maximum customer satisfaction. 
            Our help desk is specially designed and oriented to promptly respond to client needs and inquires. 
            Our information technology platform ensures that clients can reach the firm through the various channels it has established to service them. </p>
        </ul>
    </div>
    <div class="col-lg-6">
        <img class="img-fluid" src="~/Images/investment1.jpg" />
    </div>

</div>




<br />
<br />




<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 text-center">

            </div>
        </div>
        <div class="row border-responsive">
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 border-right">
                <div class="text-center">
                    <span class="flaticon-customer-service display-4 d-block mb-3 text-primary"></span>
                    <h3 class="text-uppercase h4 mb-3">24/7 Support</h3>
                    <p>Molten Trust Limited is available 24/7 to give you top-notch financial services</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 border-right">
                <div class="text-center">
                    <span class="flaticon-group display-4 d-block mb-3 text-primary"></span>
                    <h3 class="text-uppercase h4 mb-3">Trusted People</h3>
                    <p>Our team is a crop of young, dynamic, well-trained and trusted individual</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 border-right">
                <div class="text-center">
                    <span class="flaticon-medal display-4 d-block mb-3 text-primary"></span>
                    <h3 class="text-uppercase h4 mb-3">20 Years Experience</h3>
                    <p>We boasts of a 20 years deep understanding of the capital market </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <div class="text-center">
                    <span class="flaticon-agreement display-4 d-block mb-3 text-primary"></span>
                    <h3 class="text-uppercase h4 mb-3">Join With Us</h3>
                    <p>We provide superior services to the delight of our diverse stakeholders</p>
                </div>
            </div>
        </div>
    </div>
</div>