
@{
    ViewData["Title"] = "Download";
}

<link rel="stylesheet" href="~/css/site.css" />

<style>
    h4{
        font-size: 1rem;
      
    }

    .lead {
        font-size:0.9rem;
    }

    
</style>

<div class="container mt-5">
    <div class="row text-center mt-5 d-flex justify-content-center">

        <section class="faq-section py-5 text-left">
            <div class="container single-col-max">
                <h3 class="text-center mb-5">Forms</h3>
                <div id="faq-accordion" class="faq-accordion mx-auto">
                    <div class="card border-0 mb-4 shadow-sm rounded">
                        <div class="card-header border-0 p-4 theme-bg-light rounded text-left">
                            <h4 class="card-title mb-0"><i class="fas fa-file-image mr-2"></i><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq1" aria-expanded="false">Registrars<i class="fas fa-chevron-down float-right"></i></a></h4>
                        </div>

                        <div class="card-collapse collapse" id="faq1">
                            <div class="card-body p-4 bg-white rounded text-left">
                                <ul class="list-unstyled">
                                    <li class=""><a href="#" class=" lead text-dark">Molten Trust Limited Account Opening form</a></li>
                                    <li><a href="#" class=" lead text-dark">Molten Trust Limited Account Opening form</a></li>
                                    <li><a href="#" class=" lead text-dark">Corporate-account-opening</a></li>
                                </ul>
                            </div><!--//card-body-->
                        </div>
                    </div><!--//card-->
                    <div class="card border-0 mb-4 shadow-sm rounded">
                        <div class="card-header border-0 p-4 theme-bg-light rounded">
                            <h4 class="card-title mb-0"><i class="fas fa-file-image mr-2"></i><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq2" aria-expanded="false">Central Securities & Clearing Systems&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     <i class="fas fa-chevron-down float-right"></i></a></h4>
                        </div>

                        <div class="card-collapse collapse" id="faq2">
                            <div class="card-body p-4 bg-white rounded">
                                <ul class="list-unstyled">
                                    <li class=""><a href="#" class=" lead text-dark">Molten Trust Limited Account Opening form</a></li>
                                    <li><a href="#" class=" lead text-dark">Molten Trust Limited Account Opening form</a></li>
                                    <li><a href="#" class=" lead text-dark">Corporate-account-opening</a></li>
                                </ul>

                            </div><!--//card-body-->
                        </div>
                    </div><!--//card-->
                    <div class="card border-0 mb-4 shadow-sm rounded">
                        <div class="card-header border-0 p-4 theme-bg-light rounded">
                            <h4 class="card-title mb-0"><i class="fas fa-file-image mr-2"></i><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq2" aria-expanded="false">Molten Trust Limited<i class="fas fa-chevron-down float-right"></i></a></h4>
                        </div>

                        <div class="card-collapse collapse" id="faq2">
                            <div class="card-body p-4 bg-white rounded">
                                <ul class="list-unstyled">
                                    <li class=""><a href="#" class=" lead text-dark">Molten Trust Limited Account Opening form</a></li>
                                    <li><a href="#" class=" lead text-dark">Molten Trust Limited Account Opening form</a></li>
                                    <li><a href="#" class=" lead text-dark">Corporate-account-opening</a></li>
                                </ul>

                            </div><!--//card-body-->
                        </div>
                    </div><!--//card-->

                    <div class="card border-0 mb-4 shadow-sm rounded">
                        <div class="card-header border-0 p-4 theme-bg-light rounded">
                            <h4 class="card-title mb-0"><i class="fas fa-file-image mr-2"></i><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq2" aria-expanded="false">Federal Government Bonds<i class="fas fa-chevron-down float-right"></i></a></h4>
                        </div>

                        <div class="card-collapse collapse" id="faq2">
                            <div class="card-body p-4 bg-white rounded">
                                <ul class="list-unstyled">
                                    <li class=""><a href="#" class=" lead text-dark">Molten Trust Limited Account Opening form</a></li>
                                    <li><a href="#" class=" lead text-dark">Molten Trust Limited Account Opening form</a></li>
                                    <li><a href="#" class=" lead text-dark">Corporate-account-opening</a></li>
                                </ul>

                            </div><!--//card-body-->
                        </div>
                    </div><!--//card-->
                </div><!--//faq-accordion-->
                <div class="text-center">
                    <h4 class="pt-5">Have more questions? </h4>
                    <div class="section-intro">Feel Free to  <a asp-action="contactus" asp-controller="home">contact us</a>. We're more than happy to help.</div>
                </div>
            </div><!--//container-->
        </section><!--//faq-section-->


    </div>
</div>