@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    


</head>


<section class="hero-section py-3 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
                <h1 class="site-headline font-weight-bold mb-3">Take on the market with our powerful platforms</h1>
                <div class="site-tagline mb-4">Get expert insights to help navigate the ups and downs of the market with confidence.Trade without trade-offs. Our desktop, web, and mobile platforms are designed for performance and built for all levels of investors <span id="typewriter" class="text-primary font-weight-bold"></span>.</div>
                <div class="cta-btns mb-lg-3">
                    <a class="btn btn-primary mr-2 mb-3" href="pricing.html">Get Started Free<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
                    <a class="btn mb-3 text-white" style="background-color: #5D6778" href="docs.html">Trade Online<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-center">
                <img class="hero-figure mx-auto img-fluid mt-5" src="~/Images/Trading-System-in-MetaTrader5-for-iOS.jpg" max-width: 100%; height: auto; alt="trading devices">
            </div>
        </div><!--//row-->
    </div>
</section><!--//hero-section-->

<section class="benefits-section theme-bg-light py-5">

    <div class="container">
        <h3 class="mb-2 text-center font-weight-bold section-title">Why Choose Molten Trust?</h3>
        <div class="mb-5 text-center section-intro">Molten provides excellent trade executions for investors.</div>
        <div class="row">
            <div class="item col-12 col-md-6 col-lg-3">
                <div class="item-inner rounded">
                    <div class="p-3">
                        <img src="~/Images/icons8-online-support-100.png" alt="Alternate Text" width="70" />
                    </div><!--//icon-holder-->
                    <h5 class="mb-3">24/7 SUPPORT</h5>
                    <div>Molten Trust Limited is available 24/7 to give you top-notch financial services.</div>
                    <div class="m-4"><a href="features.html">Learn more &rarr;</a></div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-12 col-md-6 col-lg-3">
                <div class="item-inner rounded">
                    <div class="p-3">
                        <img src="~/Images/icons8-management-96.png" alt="Alternate Text" width="70" />
                    </div><!--//icon-holder-->
                    <h5 class="mb-3">TRUSTED PEOPLE</h5>
                    <div>Our team is a crop of young, dynamic, well-trained and trusted individual</div>
                    <div class="m-4"><a href="features.html">Learn more &rarr;</a></div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-12 col-md-6 col-lg-3">
                <div class="item-inner rounded">
                    <div class="p-3">
                        <img src="~/Images/icons8-hard-working-96.png" alt="Alternate Text" width="70" />
                    </div><!--//icon-holder-->
                    <h5 class="mb-3">20+ YEARS EXPERIENCE</h5>
                    <div>We boasts of a 20 years deep understanding of the capital market.</div>
                    <div class="m-4"><a href="features.html">Learn more &rarr;</a></div>
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-12 col-md-6 col-lg-3">
                <div class="item-inner rounded">
                    <div class="p-3">
                        <img src="~/Images/icons8-helping-hand-96.png" alt="Alternate Text" width="70" />
                    </div><!--//icon-holder-->
                    <h5 class="mb-3">JOIN WITH US</h5>
                    <div>We provide superior services to the delight of our diverse stakeholders.</div>
                    <div class="m-4"><a href="docs.html">Get Started &rarr;</a></div>
                </div><!--//item-inner-->
            </div><!--//item-->

        </div><!--//row-->
        <div class="pt-5 text-center">
            <a class="btn p-2 text-white" href="features.html">Open New Account<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12">
                    <h2 class="site-section-heading text-center text-uppercase">Our Services</h2>
                </div>
            </div>
            <div class="row">


                <div class="col-md-4 text-center mb-4">
                    <div class="border p-4 text-with-icon">
                        <img class="p-2" src="~/Images/icons8-man-green-shopping-basket-100.png"/>
                        <h2 class="h5 text-uppercase">Securities Trading</h2>
                        <p>Buying and selling of shares on behalf of clients on the floor of the NSE is a core activity.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
                <div class="col-md-4 text-center mb-4">
                    <div class="border p-4 text-with-icon">
                        <img class="p-2" src="~/Images/icons8-man-in-red-shirt-chemical-test-tube-100.png" />
                        <h2 class="h5 text-uppercase">Investment Research</h2>
                        <p>Our suite of investment research tools, let you analyze investment performance and market condit. </p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
                <div class="col-md-4 text-center mb-4">
                    <div class="border p-4 text-with-icon">
                        <img class="p-2" src="~/Images/icons8-share-100.png" />
                        <h2 class="h5 text-uppercase">NASD - OTC Market</h2>
                        <p>MTL is an approved trading institution to trade unquoted public companies with NASD plc.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
                <div class="col-md-4 text-center mb-4">
                    <div class="border p-4 text-with-icon">
                        <img class="p-2" src="~/Images/icons8-certificate-100.png" />
                        <h2 class="h5 text-uppercase">Registrar Services</h2>
                        <p>Molten Trust Limited  provide best execution services for retail and institutional clients</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
                <div class="col-md-4 text-center mb-4">
                    <div class="border p-4 text-with-icon">
                        <img class="p-2" src="~/Images/icons8-transfer-96.png" />
                        <h2 class="h5 text-uppercase">Shares Transmission</h2>
                        <p>We offer transmission of a deceased shareholder's portfolio to the administrators of their Estate.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        
    });


</script>