/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


html, body {
    font-family: 'Poppins', sans-serif;
}

.list-inline-item {
    font-size: 1.2rem;
    height: 1.8rem;
    margin-left: 0.40rem;
    width: 1.8rem;
    border-radius: 50%;
    text-align: center;
}

.btn {
    background-color: #4550E6;
}



a.navbar-brand {
    white-space: normal;
    font-size: 24px;
    line-height: 36px;
    font-weight: 800;
    color: #252930;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.site-headline {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.benefits-section {
    background-color: #F5F6FE;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

.item {
    background-color: white;
    border: 10px solid #F5F6FE;
}

.section-title {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
}

.section-intro {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}

.icon-holder {
    background-color: #F5F6FE;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

#con {
    position: absolute;
    bottom: 0px;
    background-color: #F7F7F7;
    border: 1px solid #e5e5e5;
    width: 100%;
    background-color: #F7F7F7;
}

.content {
    height: 45px;
    padding-top: 6px;
    padding-bottom: 6px;
    
   
}

.fdiv{
    font-size: 2rem;
    line-height: 1rem;
    font-weight: 900;
    
}

.contentnew {
    height: 100px; 
    padding-top: 15px;
}
